<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>

	<button (click)="AgregarTarea()">Agregar Tarea</button>
	<button (click)="OrdenDescendentePorMinuto()">Orden descendente por minuto</button>
	<button (click)="OrdenAscendentePorMinuto()">Orden ascendente por minuto</button>

	<table border="1">
		<tr>
			<th>Título Tarea</th>
			<th>Duracion Tarea (min)</th>
			<th>Opciones</th>
		</tr>
		<tr *ngFor="let tarea of tareas" class="filas">
			<td>{{tarea.titulo}}</td>
			<td class="time">{{tarea.minutos}}</td>
			<td>
				<button (click)="EliminarTareaEspecifica(tarea)">Eliminar</button>
				<button (click)="DestacarTareaEspecifica(tarea)">Destacar</button>
			</td>
		</tr>
	</table>
</div>